<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

{$greeting}


{var $pic = $employee->profilePicture }
{var $filePath = $pic ? $pic : 'img/missing.png' }
<img src="{$filePath}" alt="profile picture"/>


</body>
</html>
