<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Condition</title>
    <link rel="stylesheet"
          type="text/css" href="../styles.css">

</head>
<body>

<div n:if="$message" id="message-block">
    {$message}
</div>

<br />

<div n:if="$error" id="error-block">
    {$error}
</div>


<ul>
    <li>1</li>
    <li>2</li>
    <li>3</li>
    {if $showBlock}
    <li>4</li>
    <li>5</li>
    <li>6</li>
    {/if}
</ul>


</body>
</html>
