<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
</head>
<body>

<input type="radio" name="gender" value="m" n:attr="checked: $gender === 'M'" />
<input type="radio" name="gender" value="f" n:attr="checked: $gender === 'F'" />

<div n:class="$success ? 'success'" ></div>

<div n:class="$error ? 'error'" ></div>

</body>
</html>
