body {
    width: 700px;
    margin: 1rem auto;
}

nav {
    display: grid;
    grid-template-columns: auto 10rem;
    margin-bottom: 1rem;
}

.text-layout {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 2rem;
}

#list-table {
    width: 100%;
    border-collapse: collapse;
}

#list-table td, #list-table th {
    border: 1px solid gray;
}

#details-table {
    display: table;
}

#details-table > div {
    display: table-row;
}

#details-table > div > div {
    display: table-cell;
    padding-right: 1rem;
}

nav div {
    /*border: 1px solid red;*/
}

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 2rem;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

