<h3>{$title}</h3>

<div n:if="$errors" n:inner-foreach="$errors as $error" id="error-block">
    {$error} <br />
</div>

<form method="post">

    <input name="temperature" value="{$temperature}">

    <button name="cmd" value="{$cmd}">Calculate</button>

</form>
