
body {
    font-family: sans-serif;
}

nav a {
    text-decoration: none;
}

#second {
    border-collapse: collapse;
}

#second td {
    border: 1px solid red;
}

.important {
    color: red;
}

#toc > div > div {
    margin-left: 1rem;
}

#toc > div > div > div {
    margin-left: 1rem;
}


